<aside class="h-svh">
    <!-- sidebar icons -->
    <div class="flex flex-col p-8 space-y-4 text-gray-600">
        <div>
            <button class="hover:text-blue-600 transition">
                <i class="bi bi-dash"></i>
                Dashboard
            </button>
        </div>
        <div>
            <button class="hover:text-blue-600 transition">
                <i class="bi bi-calendar-event-fill"></i>
                Appointments
            </button>
        </div>
        <div>
            <button class="hover:text-blue-600 transition">
                <i class="bi bi-capsule"></i>
                Medication Tracker
            </button>
        </div>
        <div>
            <button class="hover:text-blue-600 transition">
                <i class="bi bi-person-square"></i>
                Patient records
            </button>
        </div>
        <div>
            <button class="hover:text-blue-600 transition">
                <i class="bi bi-gear-fill"></i>
                Settings
            </button>
        </div>
    </div>
</aside>