<nav class="flex justify-between p-8 shadow-sm">
    <!-- logo -->
    <div>
        <h2 class="text-3xl text-gray-900 font-semibold">
            <i class="bi bi-plus-square-fill text-blue-600"></i> 
            MediHelp
        </h2>
    </div>
    <!-- right nav -->
    <div class="text-gray-600 text-2xl space-x-4">
        <button>
            <i class="bi bi-bell-fill"></i>
        </button>
        <button>
            <i class="bi bi-person-circle"></i>
        </button>
        <button>
            <i class="bi bi-translate"></i>
        </button>
    </div>
</nav>